.img-gallery li{
	padding:2px;
	position:relative;
	background:#fff;
	
}
.text-title{
	padding:0;
	margin:0;
	font-weight:600;
	color:#000;
}

.img-gallery li .action{
	background:#fff;
	padding:4px;
	position:absolute;
	right:10px;
	bottom:5px;
}
.image-caption{
	position:absolute;
	width:100%;
	padding:5px 20% 5px 5px;
	bottom:0;
	background-color: rgba(230, 229, 229, 0.75);
	color:#000000;
	line-height:1.3;
}
.img-gallery li .action a{
	padding:2px;
}

.gallery > img{
	height:120px;
	margin:auto;
}