 
 

table { font-family: tahoma; font-size: 10pt }
td { font-family: tahoma; font-size: 10pt }
div { font-family: tahoma; font-size: 10pt }
span { font-family: tahoma; font-size: 10pt }
input { font-family: tahoma; font-size: 10pt }
option { font-family: tahoma; font-size: 10pt } 
TextArea {font-size : xx-small;
font-family : tahoma;
font-style : normal;}

body {
	font-family: Tahoma;
	line-height: 1.3em;
	font-size: 12px;
 
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background-image: url(../menupro/back.png);
	background-repeat: repeat-x;
 }
 


a:link, a:visited {
	font-weight: normal;
	color: #333;	/*color:   #333;*/
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	font-weight: normal;	/*color: #333;*/
	color: #00F;
}

#tb1 a:link, a:visited {
	text-decoration: underline;
	font-weight: bold;
}

#tb1 a:hover {
	text-decoration: none;
	font-weight: bold;
	color:#FFF;		
}


#all {
 	margin: 0 auto;
	padding: 40px 0 0 0;
}

 

.boxred{
	border: 2px solid #F93;
	font-family: tahoma;
	font-size: 13px;
}
 
 
 
.box {
	border: 1px solid #CCC;
	font-family: tahoma;
	font-size: 13px;
	padding: 2px;
}

.linedot {
	font-family: tahoma;
	font-size: 12px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: dotted;
	border-left-style: none;
	border-top-color: #FF0000;
	border-right-color: #FF0000;
	border-bottom-color: #FF0000;
	border-left-color: #FF0000;
	background-color: #66FFFF;
}
.linedotbu {
	font-family: tahoma;
	font-size: 12px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: dotted;
	border-left-style: none;
	border-top-color: #FF0000;
	border-right-color: #FF0000;
	border-bottom-color: #FF0000;
	border-left-color: #FF0000;
	background-color: #66FFFF;
	color: #00F;
}
.lbbB {
	font-size: 13px;
	color: #00F;
	padding: 3px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: dotted;
	border-left-style: solid;
	border-top-color: #FFF;
	border-right-color: #FFF;
	border-bottom-color: #333;
	border-left-color: #FFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	background-color: #FC9;
}
.lbbBR {
	font-size: 13px;
	color: #F00;
	padding: 3px;
}

.lbbBw {
	font-size: 13px;
	color: #F00;
	padding: 2px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	font-weight: bold;
}

.lbbBt {
	font-size: 12px;
	padding: 2px;
	width: 100px;
	color: #00F;
	background-color: #CCC;
	font-weight: bold;
}
.lbbbcolo {
	font-size: 13px;
	color: #000;
	background-color: #CCC;
	padding: 2px;
	font-weight: bold;

}

.lbbBtlabel {
	font-size: 14px;
	padding: 5px;
	color: #000;
	border: 1px solid #666;
	font-family: tahoma;
	background-color: #CCC;
	font-weight: bold;
	text-align: center;
	width: 300px;
	vertical-align: middle;
}

.lbbBtlabel2 {
	background-image: url(../css/ui-lightness/images/ui-bg_gloss-wave_35_f6a828_500x100.png);
	color:#FFF;
	text-align:center;
	border:1px solid #F60;
	padding:1px;
	font-family: tahoma;
	font-size: 14px;
	width: 350px;
	height: 30px;
	display:table-cell;
	vertical-align:middle;
	background-position: center;
	}
	
.lbbBtlabel3 {
	background-image: url(../css/ui-lightness/images/ui-bg_gloss-wave_35_f6a828_500x100.png);
	color:#FFF;
	text-align:center;
	border:1px solid #F60;
	padding:1px;
	font-family: tahoma;
	font-size: 14px;
	width: 200px;
	height: 30px;
	display:table-cell;
	vertical-align:middle;
	background-position: center;
}



.lbrB {
	font-family: tahoma;
	font-size: 13px;
	font-weight: bold;
	color:#F00;
}
.lbrBb {
	font-family: tahoma;
	font-size: 13px;
	font-weight: bolder;
	color:#00F;
}

.lbb {
	font-family: tahoma;
	font-size: 12px;
	color: #09F;
}

.lbr {
	font-family: tahoma;
	font-size: 12px;
	color: #F30;
}
.lbbBIG5 {
	font-family: tahoma;
	font-size: 16px;
	color: #00F;
	text-decoration: underline;
	font-weight: bold;
}





	
	
.textAlignVer{  
 transform: rotate(45deg) rotate(-45deg);
  transform-origin: 50% 50%; 
  }  

   .tbhl {
	border-collapse:collapse;
	border: 1px solid #333;
  	 	}
   	 	.tbhl tr:first-child td {
	height: 20px;
	color: #000;
	font-family: tahoma;
	font-weight: bold;
	text-align: center;
	background-color: #CCC;
		}
  		.tbhl tr:first-child:hover td {
	background-color: #CCC;
		}
		.tbhl  tr:nth-child(even) {background-color:#FFFFFF; }
   		.tbhl tr:nth-child(odd) { background-color:#CCFFFF; }
	    
	   .tbhl td{
	/* [disabled]border: 1px solid #CCC; */
	padding:0.2em;
	padding: 3px 3px;
		}
    	.tbhl tr:hover td {
	background-color: #E0E0E0;
		}
 
 
 
    .tbhl2 {
	border-collapse:collapse;
	border: 1px solid #CCC;
   }
   .tbhl2 tr:first-child td {
	color: #FFF;
	font-family: tahoma;
	font-weight: bold;
	text-align: center;
	background-color: #F90;
	}
  
   .tbhl2 tr:first-child:hover td {	background-color: #F90; 	}
   
    .tbhl2 td{
	border: 1px solid #CCC;
	padding:0.2em;
	padding: 2px 2px;
	color: #000;
  	}
	
    .tbhl2 tr:hover td {	background-color: #CDF5D5;	}
 
 
    .tbhl3 {
	border-collapse:collapse;
	border: 1px solid #CCC;
	background-color: #FFF;	
   }
   
   .tbhl3 tr:first-child td {
	color: #FFF;
	font-family: tahoma;
	font-weight: bold;
	text-align: center;
	background-color: #093;
	}
	
    .tbhl3 tr:first-child:hover td {	background-color: #093; 	}
    .tbhl3 td{
	border: 1px solid #999;
	padding: 4px 5px;
}
    .tbhl3 tr:hover td {	background-color: #FED3B4;
	}
 
 
  
   .tbhl4 {
	border-collapse:collapse;
   }
   .tbhl4 td{
	/* [disabled]height:25px; */
	border: 1px solid #000;
	padding:0.2em;
	padding: 2px 2px;
  	}
    .tbhl4 tr:hover td {
	background-color: #E9E9E9;
	/* [disabled]height:25; */
	}
 


   .tbhl5 {
	border-collapse:collapse;
	border: 1px solid #000;
   }
   
   .tbhl5 tr:first-child td {
	color: #00F;
	font-family: tahoma;
	font-weight: bold;
	text-align: center;
	background-color: #CCC;
	height:29;
	}
   .tbhl5 tr:first-child:hover td {
	background-color: #CCC;
 	}
	.tbhl5 tr:nth-child(even) {background-color:#FFFFFF; }
   	.tbhl5 tr:nth-child(odd) { background-color:#CCFFFF; }
    
   .tbhl5 td{
	border: 1px solid #666;
	padding: 4px 4px;
  	}
    .tbhl5 tr:hover td {
	background-color: #E9E9E9;
	}
    .tbhl5 tr:last-child td {
	color: #00F;
	font-family: tahoma;
	font-weight: bold;
	text-align: center;
	background-color: #CCC;
	}



 
   .tbhlrow {
	border-collapse:collapse;
   }
   .tbhlrow td{
	height:25;
	border: 1px solid #000;
	padding:0.2em;
	padding: 4px 5px;
  	}
 
 
 
    .tbhl6 {
	border: 2px solid #CCC;
   }
   .tbhl6 td{
	padding: 2px;
	height: 24px;
	vertical-align: middle;
  	}





 

.subtbnull{
	border: 0px;
}
.subtbnull td{
	border: 1px solid #FFFFFF;
}
.textalcenter{
	text-align:center;
}
.boxkeybu {
	font-family: tahoma;
	font-size: 12px;
	color: #00F;
	font-weight: bold;
	background-image: url(../images/m1.gif);
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}

 
form.cmxform label.error, label.error {
	color: red;
	font-family:tahoma;
	position: relative;
	 
}

		.btn1 {
	-webkit-border-radius: 5;
	-moz-border-radius: 5;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 6px #666666;
	-moz-box-shadow: 0px 0px 6px #666666;
	box-shadow: 0px 0px 6px #666666;
	color: #ffffff;
	font-size: 20px;
	padding: 15px;
	background: #fa2f51;
	text-decoration: none;
	width: 300px;
		}
		
		.btn1:hover {
		 background: #3cb0fd;
		 text-decoration: none;
		} 
		
		
.btn2 {
	padding: 3px;
	color: #000;
	background-color: #CCC;
 	 }
 
   .dotline { border-bottom: 1px dotted #ba0000; }
